body{background-color:#e9eaf1}
.title{text-align:center;font-size:14px;font-weight:700}
#content
.country{
    padding:15px;
    background-color:#fff;
    border-radius:10px;
    font-weight:700;
    margin-right:5px;
    height:80px;
    margin-bottom:15px
}
#content
.country
.flag{
    width:27%;
    float:left;
    padding-top:5px
}
#content .country .flag img{
    width:52px;
    height:52px;
    border-radius:50px
}
#content .country .info{
    float:left;
    width:73%
}
#content .country .info span{
    font-weight:400
}
